.artframe {
    width: 400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
    position: relative;
}

.artframe__name {
    position: absolute;
    bottom: 2px;
    left: 5px;
}

.artframe__traits {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: -24px;
}

.artframe__trait {
    list-style-type: none;
    padding: 0px 5px;
}