.artframe {
  --art-size: 400px;
  --frame-width: 25px;
  --frame-colour: white;

  position: relative;
  width: var(--art-size);
  height: var(--art-size);
  min-width: var(--art-size);
  min-height: var(--art-size);
  border-radius: 10px;
  background: var(--frame-colour);
  border: var(--frame-width) solid var(--frame-colour);
}

.artframe__info {
  position: absolute;
  height: var(--frame-width);
  bottom: calc(-1 * var(--frame-width));
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.artframe__name {
  white-space: nowrap;
}

.artframe__traits {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: var(--frame-width);
}

.artframe__trait {
  list-style-type: none;
  height: 100%;
}

.artframe__trait-icon {
  padding: 0px 5px;
  width: var(--frame-width);
  height: 100%;
  object-fit: contain;
}

.artframe__trait-tooltip {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 100;

  width: var(--art-size);
  top: 100%;
  left: 50%;
  margin-left: calc(var(--art-size) / -2);
}

.artframe__trait:hover .artframe__trait-tooltip {
  visibility: visible;
}
