.artframe {
    width: 400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
    position: relative;
    --frame-width: 25px;
    --frame-colour: white;
    background: var(--frame-colour);
    border: var(--frame-width) solid var(--frame-colour);
}

.artframe__info {
    position: absolute;
    height: var(--frame-width);
    bottom: calc(-1 * var(--frame-width));
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.artframe__name {
    color: var(--frame-colour);
    filter: invert(1) grayscale(1);
}

.artframe__traits {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.artframe__trait {
    list-style-type: none;
    padding: 0px 5px;
}