.freddy,
.freddy::before,
.freddy::after {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
}

.freddy {
  max-height: 400px;
  background: white;
  resize: vertical;
}

.freddy::before {
  content: "";
}