.room,
.room::before,
.room::after {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  outline: none;
  appearance: none;
}

/* WALLS */
.room {
  background:
    radial-gradient(at 60% 40%, black 0%, transparent),
    conic-gradient(from -45deg at 60% 40%,
      plum 0deg 90deg,
      black 90deg 91deg,
      pink 91deg 184deg,
      black 184deg 185deg,
      plum 185deg 270deg,
      black 270deg 271deg,
      pink 270deg 355deg,
      black 355deg 356deg,
      plum 356deg);
  overflow: hidden;
}

/* BACK WALL */
.room::before {
  content: "";
  top: 17%;
  left: 33%;
  width: 50%;
  height: 50%;
  border: 3px solid black;
  overflow: visible;
  border-bottom: none;
  box-shadow:
    37px 27px indigo inset, -37px 0px indigo inset,
    40px 30px black inset, -40px 0px black inset,
    47px 37px brown inset, -47px 0px brown inset,
    50px 40px black inset, -50px 0px black inset;
}

/* SURROUNDING FEATURES */
.room::after {
  content: "";
  top: 0%;
  left: 30%;
  width: 50%;
  height: 50%;
  background: 
  radial-gradient(ellipse 50% 50% at 58% 15%, yellow 8%, transparent 12% 100%),
  radial-gradient(ellipse 50% 50% at 58% 11%, black 6%, transparent 7% 100%),
  radial-gradient(ellipse 50% 50% at 58% 9.5%, black 6%, transparent 7% 100%),
  radial-gradient(ellipse 70% 70% at 58% 15%, yellow 1%, transparent 20% 100%);
}


.room:hover {
  animation: room-shadow 6s linear;
}
.room:hover::before {
  animation: wall-zoom 6s linear;
}
.room:hover::after {
  animation: feature-zoom 6s linear;
}


@keyframes room-shadow {
  0% {
    filter: brightness(1);
  }
  
  40% {
    filter: brightness(0.2);
  }

  75% {
    filter: brightness(0.5);
  }

  100% {
    filter: brightness(1);
  }
}

@keyframes wall-zoom {
  0% {
    transform: scale(1);
    filter: opacity(1);
  }
  
  40% {
    transform: scale(6);
    filter: opacity(1);
  }
  
  50% {
    filter: opacity(0);
    transform: scale(6);
  }

  51% {
    filter: opacity(0);
    transform: scale(0);
  }
  
  52% {
    filter: opacity(1);
    transform: scale(0);
  }

  100% {
    filter: opacity(1);
    transform: scale(1);
  }
}

@keyframes feature-zoom {
  0% {
    left: 30%;
    transform: scale(1);
    filter: opacity(1);
  }
  
  40% {
    transform: scale(6);
    filter: opacity(1);
  }
  
  50% {
    top: -50%;
    left: 15%;
    filter: opacity(0);
    transform: scale(6);
  }

  51% {
    left: 25%;
    filter: opacity(0);
    transform: scale(0);
  }
  
  52% {
    filter: opacity(1);
    transform: scale(0);
  }

  100% {
    filter: opacity(1);
    transform: scale(1);
  }
}