/* CSS ENTIRELY HAND-MADE BY MARCO BUONTEMPO [MARCOBUONTEMPO.COM] */
.harold,
.harold::before,
.harold::after {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
}

.harold {
  max-height: 400px;
  background: white;
  resize: vertical;
}

.harold::before {
  content: "";
}