.modal {
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10%;
    position: fixed;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}

.modal__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: green;
}

.modal__content {
    --art-size: 400px;
    --frame-width: 25px;
    --frame-colour: white;
  
    position: relative;
    width: var(--art-size);
    height: var(--art-size);
    min-width: var(--art-size);
    min-height: var(--art-size);
    border-radius: 10px;
    background: var(--frame-colour);
}