.corridor,
.corridor::before,
.corridor::after {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  cursor: pointer;
  --wall: rgb(98, 60, 22);
  --frame: rgb(90, 59, 27);
  --ceiling: rgb(249, 175, 102);
  --floor: rgb(87, 58, 32);
  --lwall: rgb(195, 136, 78);
  --rwall: rgb(206, 136, 66);

}

/* WALLS */
.corridor {
  background:
    radial-gradient(at 60% 40%, black 0% 10%, transparent),
    conic-gradient(from -45deg at 60% 40%,
      var(--ceiling) 0deg 90deg,
      black 90deg 91deg,
      var(--rwall) 91deg,
      black 184deg 185deg,
      var(--floor) 185deg 270deg,
      black 270deg 271deg,
      var(--lwall) 355deg,
      black 355deg 356deg,
      var(--ceiling) 356deg);
  overflow: hidden;
}

/* BACK WALL */
.corridor::before {
  content: "";
  top: 17%;
  left: 33%;
  width: 50%;
  height: 50%;
  border: 3px solid black;
  overflow: visible;
  border-bottom: none;
  box-shadow:
    37px 27px var(--wall) inset, -37px 0px var(--wall) inset,
    40px 30px black inset, -40px 0px black inset,
    47px 37px var(--frame) inset, -47px 0px var(--frame) inset,
    50px 40px black inset, -50px 0px black inset;
}

/* SURROUNDING FEATURES */
.corridor::after {
  content: "";
  top: 0%;
  left: 30%;
  width: 50%;
  height: 50%;
  background: 
  radial-gradient(ellipse 50% 50% at 58% 15%, yellow 8%, transparent 12% 100%),
  radial-gradient(ellipse 50% 50% at 58% 11%, black 6%, transparent 7% 100%),
  radial-gradient(ellipse 50% 50% at 58% 9.5%, black 6%, transparent 7% 100%),
  radial-gradient(ellipse 70% 70% at 58% 15%, yellow 1%, transparent 20% 100%);
  animation: flicker 2s ease-out infinite alternate;
}


.corridor:hover {
  animation: corridor-shadow 4s linear;
}
.corridor:hover::before {
  animation: wall-zoom 4s linear;
}
.corridor:hover::after {
  animation: feature-zoom 4s linear;
}


@keyframes corridor-shadow {
  0% {
    filter: brightness(1);
  }
  
  40% {
    filter: brightness(0.1);
  }

  75% {
    filter: brightness(0.3);
  }

  100% {
    filter: brightness(1);
  }
}

@keyframes wall-zoom {
  0% {
    transform: scale(1);
    filter: opacity(1);
  }
  
  40% {
    transform: scale(6);
    filter: opacity(1);
  }
  
  50% {
    filter: opacity(0);
    transform: scale(6);
  }

  51% {
    filter: opacity(0);
    transform: scale(0);
  }
  
  52% {
    filter: opacity(1);
    transform: scale(0);
  }

  100% {
    filter: opacity(1);
    transform: scale(1);
  }
}

@keyframes feature-zoom {
  0% {
    left: 30%;
    transform: scale(1);
    filter: opacity(1);
  }
  
  40% {
    transform: scale(6);
    filter: opacity(1);
  }
  
  50% {
    top: -50%;
    left: 15%;
    filter: opacity(0);
    transform: scale(6);
  }

  51% {
    top: 11%;
    left: 33%;
    filter: opacity(0);
    transform: scale(0);
  }
  
  52% {
    filter: opacity(1);
    transform: scale(0);
  }

  100% {
    filter: opacity(1);
    transform: scale(1);
  }
}

@keyframes flicker {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(0.5);
  }
}