.trapped,
.trapped::before,
.trapped::after {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
}

.trapped {
  max-height: 400px;
  background: white;
  resize: vertical;
}

.trapped::before {
  content: "";
}