/* CSS ENTIRELY HAND-MADE BY MARCO BUONTEMPO [MARCOBUONTEMPO.COM] */
.moretocome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 50px;
  font-style: italic;
  text-align: center;
}