.trescomas,
.trescomas::before,
.trescomas::after {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  --bg: magenta;
  --c1: orange;
  --c2: darkturquoise;
  --c3: black;
}

/* BACKGROUND */
.trescomas {
  background:
    linear-gradient(to bottom, var(--bg) 70%, darkturquoise 82% 100%);
}

/* SHADOW */
.trescomas::before {
  content: "";
  width: 50%;
  height: 15%;
  left: 0;
  right: 0;
  bottom: 2.5%;
  border-radius: 50%;
  background:
    radial-gradient(ellipse 50% 50% at 50% 50%, black 10%, transparent 100%);
  animation: shadow-size 3s ease-in infinite alternate;
}

/* COMMAS */
.trescomas::after {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background:
    radial-gradient(ellipse 60% 60% at 30% 50%, var(--c1) 12%, transparent 13%),
    radial-gradient(ellipse 70% 90% at 24% 49%, var(--bg) 12%, transparent 13%),
    radial-gradient(ellipse 68% 64% at 29% 52%, var(--c1) 12%, transparent 13%),

    radial-gradient(ellipse 60% 60% at 50% 50%, var(--c2) 12%, transparent 13%),
    radial-gradient(ellipse 70% 90% at 44% 49%, var(--bg) 12%, transparent 13%),
    radial-gradient(ellipse 68% 64% at 49% 52%, var(--c2) 12%, transparent 13%),

    radial-gradient(ellipse 60% 60% at 70% 50%, var(--c3) 12%, transparent 13%),
    radial-gradient(ellipse 70% 90% at 64% 49%, var(--bg) 12%, transparent 13%),
    radial-gradient(ellipse 68% 64% at 69% 52%, var(--c3) 12%, transparent 13%);

  animation: trescomas-bounce 3s ease-in infinite alternate, trescomas-rotate 6s ease-in-out infinite alternate;
}

@keyframes trescomas-bounce {
  from {
    top: -40%;
  }

  to {
    top: 20%;
  }
}

@keyframes trescomas-rotate {
  from {
    transform: rotate(-20deg);
  }

  to {
    transform: rotate(20deg);
  }
}

@keyframes shadow-size {
  from {
    opacity: 0.4;
    transform: scale(1.05, 0.4);
  }

  to {
    opacity: 1;
    transform: scale(1.25, 0.5);
  }
}